doctype html
html(lang="fr")
  head
    Login

  body
    h1 Please Login

    form(action="add", method="post")
        label username:
        input(type="text", name="username")
        label password:
        input(type="text", name="password")
        input(type="submit", value="login")
    p=message
  
