doctype html
html(lang="fr")
  head
    signup

  body
    h1 Please signup

    form(action="signup", method="post")
        label username:
        input(type="text", name="username")
        label password:
        input(type="text", name="password")
        input(type="submit", value="signup")

  
